<ul id="dropdown" class="dropdown-content" style="top: 50px;">
  <li><a href="#!">Login</a></li>
  <li><a href="#!">Fazer Cadastro</a></li>
  <li class="divider"></li>
  <li><a href="#!">Ir para Painel</a></li>
  <li><a href="#!">Encerrar Sessão</a></li>
</ul>
<nav class="nav-extended teal darken-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">
      Marketplace
    </a>
    <ul class="right">
      <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
      <li>
        <a href="javascript:void(0)" class="dropdown-trigger" data-target="dropdown">
          Minha Conta
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>