<ul id="dropdown" class="dropdown-content" style="top: 50px;">
  <% if current_store %>
    <li><%= link_to 'Ir para Painel', rails_admin_path %></li>
    <li><%= link_to 'Logout', destroy_store_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Login', new_store_session_path %></li>
    <li><%= link_to "Fazer Cadastro", new_registration_path(:store) %></li>
  <% end %>
</ul>

<nav class="nav-extended teal">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">
      Marketplace
    </a>
    <ul class="right">
      <li>
        <a href="javascript:void(0)" class="dropdown-trigger" data-target="dropdown">
          Perfil
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>