@import "template";

.filters{
  padding-bottom: 25px;
  .filter-group{
    font-size: 16px;
    padding: 10px !important;
    .filter-title{
      font-size: 16px;
      padding-left: 10px;
      font-weight: bold;
    }
    .text-range-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      .text-separator{
        padding: 0 10px;
      }
      .input-field{
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        background-color: #eeeeee;
        border-radius: 5px 0 0 5px;
        input{
          margin: 0;
          min-width: 35px;
          width: 80%;
        }
        .prefix{
          padding: 0 8px;
          &:last-child { padding: 0 7px 0 0 !important; }
          font-size: 16px;
          top: 0.7rem;
          width: fit-content;
          position: relative;
          top: auto;
        }
      }
    }
    .stores-flags{
      padding-left: 10px;
    }
  }
  input[type=submit]{
    color: white;
  }
}
.search-field{
  width: 100%;
}
.not_found{
  margin-top: 35px;
  img{
    min-width: 300px;
    width: 100%;
  }
}