nav {
  z-index: 1;
  .brand-logo{
    margin-left: 25px;
  }
  .dropdown-content{
    top: 50px !important;
  }
  ul li a {
    font-size: 1.2rem;
  }
  .input-field {
    height: 55px !important;
    label {
      color: #fff;
    }
    input {
      color: #fff;
      height: 100% !important;
    }
    input:focus + label {
      color: #fff;
    }
    input:focus {
      border-bottom: 1px solid #fff;
      box-shadow: 0 1px 0 0 #fff;
    }
    .prefix.active {
      color: #fff;
    }
  }
}
.flexbox {
  display: flex;
  flew-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pl-0{
  padding-left: 0 !important;
}
.p-15{
  padding: 15px;
}
main {
  z-index: 0;
  min-height: 20vh;
  padding: 10pt;
  margin-top: 15px;
  width: 100%;
  .card-header{
    border-radius: 2px 2px 0 0;
    padding: 10px;
    font-size: 1.1em;
    margin-bottom: 25px;
  }
  .current-page{
    margin: 5px 0 20px;
    font-size: 1.4em;
  }
  .filters{
    padding-bottom: 25px;
    .filter-group{
      font-size: 16px;
      padding: 10px !important;
      .filter-title{
        font-size: 16px;
        padding-left: 10px;
        font-weight: bold;
      }
      .text-range-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        .text-separator{
          padding: 0 10px;
        }
        .input-field{
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          background-color: #eeeeee;
          border-radius: 5px 0 0 5px;
          input{
            margin: 0;
            min-width: 35px;
            width: 80%;
          }
          .prefix{
            padding: 0 8px;
            &:last-child { padding: 0 7px 0 0 !important; }
            font-size: 16px;
            top: 0.7rem;
            width: fit-content;
            position: relative;
            top: auto;
          }
        }
      }
      .stores-flags{
        padding-left: 10px;
      }
    }
    input[type=submit]{
      color: white;
    }
  }
  .search-field{
    width: 100%;
  }
}